body{
	font-family:"Roboto";
}

.container{
	color: #c4c4c4;
	padding: 10px;
	margin:10px auto;
	background: url(".../img/mono.jpg")  center no-repeat; 
}
.vertical-line{
	border-right: 1px  solid #F9F7ED;
}
.component-side-content, #component-profile{
	text-align: center;
}

#component-profile{
	margin-bottom:60px;
}
#component-profile h1, #component-profile h2, h3, #component-profile h6{
	margin:0px;
}
#component-profile:after{
	margin-bottom: 50px;
}
#component-profile .fa{
	color:#b2b2b2;
}
#component-profile img{
	border-radius:60px;
	text-align:center;
}
#component-profile h2{
	font-weight: 600;
	margin-top: 30px;
	font-size: 25pt;
}

#component-profile h5{
	text-transform:  uppercase;
}


/** utils **/
.color.black{
	color:black;
}

.position.center{
	text-align:center;
}
/** side content component **/
.component-side-content{
	margin: 25px auto;
}

.component-side-content p{
	font-size: 10pt;

}
.component-side-content h4{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 10pt;
	padding: 5px;
	width: 100px;	
	margin: 5px auto;
	border-radius: 35px;
	color: #bfbfbf;
	border: 1px solid  #bfbfbf;
}

.component-side-content hr{ 
	width :50%;
	display:none;
}


