body{
	font-family:"Roboto";	
	background-color: #F9F9F9;

}

.container{
	background-color:#fff;
	display: block;
	color:#777;
	margin: 10px auto;
}
.vertical-line{
	border-right: 1px  solid #f4f4f4;
}
.component-side-content, #component-profile{
	text-align: center;
}

#component-profile{
	padding: 10px 0px;
	margin-bottom:60px;
}

#component-profile hr{
	width: 60%;
}
#component-profile h1, #component-profile h2, h3, #component-profile h6{
	margin:0px;
}
#component-profile:after{
	margin-bottom: 50px;
}
#component-profile .fa{
	color:#b2b2b2;
	margin : 0px 5px;
}

#component-profile .fa:hover{
	cursor: pointer;
}
#component-profile .fa-facebook:hover{
	color: #3B5998;
}
#component-profile .fa-linkedin:hover{
	color:#1D87BE;
}
#component-profile .fa-github:hover{
	color:#333333;
}
#component-profile .fa-pinterest:hover{
	color :#BD081C;
}

#component-profile img{
	border-radius:100%;
	text-align:center;
	width:150px;
}
#component-profile h2{
	font-weight: 600;
	margin-top: 30px;
	font-size: 30pt;
}

#component-profile h4{
	font-size: 12pt;
	font-weight:600;
	color: #7c7c7c;
	text-transform:  uppercase;
}


/** utils **/
.color.black{
	color:black;
}

.position.center{
	text-align:center;
}

.icon-size.medium{
	font-size:2.5em;
}

/** side content component **/
.component-side-content{
	margin: 25px auto;
}

.component-side-content p{
	font-size: 10pt;
	text-align: left;
}
.component-side-content h4{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.5em;
	padding: 5px;
	margin: 10px auto;	
	border-bottom : solid 1px #cecece;
	width: 50%;
}

.component-side-content #contact-detail{
	text-align:left;
}
#contact-detail hr{
	margin:8px;
}

.main-content{
}


.block-content{
	padding: 50px 20px;
}

.block-content h3{
	font-weight:bold;
}
